.list-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.left-col {
  flex-basis: 70%;
  margin-left: 20px;
}
.right-col {
  flex-basis: 25%;
}

.left-col h1 {
  color: #333;
  font-weight: 600;
  margin-bottom: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.house {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
  border-top: 1px solid #ccc;
}

.house-img {
  flex-basis: 35%;
}

.house-info {
  flex-basis: 58%;
  color: #555;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.house-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  aspect-ratio: 6/4;
}

.house-info h3 {
  font-weight: 600;
  color: #333;
  font-size: 22px;
  margin: 4px 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.house-info #star {
  color: #333;
  font-size: 15px;
  margin: 10px 1;
}

.house-price {
  text-align: right;
  align-self: flex-end;
}

.house-price h4 {
  font-size: 20px;
}

.house-price h4 span {
  font-size: 16px;
  font-weight: 500;
}

.sidebar {
  border: 1px solid #999;
  padding: 20px 30px;
  margin-top: 6rem;
  border-radius: 18px;
  width: 80%;
  background: rgba(32, 149, 174, 0.8);
  box-shadow: 0 5px 10px rgba(32, 149, 174, 0.5);
}

.sidebar h2 {
  font-weight: 500;
  color: white;
}

.sidebar h3 {
  font-weight: 500;
  margin: 20px 0 10px;
  color: #ffffff;
}

.sidebar button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar button:hover {
  background-color: #1e92a3;
}

.sidebar button:disabled {
  background-color: #ccc;
  color: #333;
  cursor: not-allowed;
}

.sidebar input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.sidebar input[type="text"]:focus {
  outline: none;
  border-color: var(--primary-color);
}

.filter {
  display: flex;
  align-items: center;
  color: #555;
  margin-bottom: 10px;
}

.filter p {
  flex: 1;
  color: white;
}

.filter input {
  margin-right: 15px;
  cursor: pointer;
}

.sidebar-link {
  text-align: right;
  margin: 20px 0;
}

.sidebar-link a {
  text-decoration: none;
  color: white;
  text-decoration: underline;
}

span {
  color: rgb(255, 255, 255);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  text-align: center;
}

.pagination a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 2px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 30px;
  display: inline-block;
  text-align: center;
}

.pagination a.current {
  background-color: var(--primary-color);
  color: #fff;
}

.pagination img {
  width: 35px;
}

.pagination span3 {
  margin: 10px 8px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.pagination .current {
  background: #000000;
  color: #fff;
}

#toTop {
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s, box-shadow 0.3s;
  z-index: 1000;
  opacity: 0;
}

#toTop.show {
  opacity: 1;
}

#toTop:active {
  transform: translateY(10px);
  box-shadow: none;
}

.hidden {
  display: none;
}

.input-group {
  flex: 1;
}

.input-label {
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
}

.form-control {
  width: calc(100% - 16px);
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #ddd;
  font-size: 16px;
  transition: border-color 0.3s ease;
  margin: 0;
}

.booking-btn-search {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 2px solid var(--primary-color);
  transition: background-color 0.3s ease, border-color 0.3s ease,
    opacity 0.9s ease;
}

.booking-btn-search:hover {
  background-color: var(--hover-color);
  border: 2px solid var(--hover-color);
}

.disabled {
  opacity: 0.4;
  transition: opacity 0.9s ease;
}

.disabled:hover {
  opacity: 0.2;
  border-color: var(--hover-color);
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
}

.form-control:hover {
  border: 2px solid #cdcdcd;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 50px;
  width: 99%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
